---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Navigation from "src/components/Navigation.astro";
import Divider from "src/components/Divider.astro";
import Button from "src/components/Button.astro";
---

<div class="bg-gradient-to-b from-white to-yellow-50 ">
    <Layout >
        <div class="hidden md:block">
            <Button />
        </div>
       <Navigation />
        <section class="max-w-6xl mx-auto p-6 "> 
            <div class="p-4 text-4xl font-bold flex flex-row justify-center">
                <h2>Qu칠 es BordArt?</h2>
                
            </div>
            <Divider />
            <div class="flex flex-col md:flex-row justify-between items-center ">
                <!-- Textos -->
                <div class="flex flex-col p-4">
                    <h2 class="text-3xl font-bold text-left px-2 py-4">
                        Bordart
                    </h2>
                    <p class="font-semibold p-2 text-xl">
                        En <i class="text-orange-500">Bordart</i>, nos apasiona transformar prendas de vestir
                        y accesorios comunesen obras de arte personalizadas y 칰nicas. Desde Bah칤a Blanca a todo 
                        el pa칤s, utilizamos nuestras m치quinas de bordado y un toque creativo para dar vida
                        a tus ideas y dise침os.
                    </p>
                    <p class="font-semibold p-2 text-xl">
                        Nuestra misi칩n es ofrecer a nuestros clientes una experiencia de compra
                        personalizada y memorable, donde cada prenda bordada cuente una historia
                        y refleje la personalidad 칰nica de su propietario. Nos esforzamos por superar
                        las expectativas de nuestros clientes en cuanto a calidad, originalidad y 
                        servicio al cliente.
                    </p>
                    <h3 class="text-3xl font-bold text-left px-2 py-4">Lo que nos hace 칰nicos</h3>
                    <ul class="list-disc py-2 px-6">
                        <li>
                            <p class="text-xl font-semibold py-2">
                                <u>Creatividad sin l칤mites</u>: Transformamos tus idea en realidad
                                desde dise침os simples hasta elaboradas obras de arte bordadas.
                            </p>
                        </li>
                        <li>
                            <p class="text-xl font-semibold py-2">
                                <u>Calidad excepcional</u>: Utilizamos solo los mejores materiales
                                y t칠cnicas de bordado para garantizar resultados duraderos
                                y de alta calidad.
                            </p>
                        </li>
                        <li>
                            <p class="text-xl font-semibold py-2">
                                <u>Servicio personalizado</u>: Trabajamos estrechamente con calidad
                                cliente para enteder sus necesidades y garantizar que el
                                producto final cumpla con sus expectativas.
                            </p>
                        </li>
                    </ul>
                    <h3 class="text-3xl px-2 py-4 font-bold text-left">Nuestros Personajes</h3>
                    <div class="text-xl font-semibold">
                        <p class="p-2">Conoc칠 a nuestros personajes emblem치ticos que personifican
                            la esencia de nuestra marca.
                        </p>
                        <p class="p-2"> <t class="bg-yellow-300">
                            Sonrisol:</t> el alma radiante de nuestro emprendimiento de bordados!
                        </p>
                        <p class="p-2">
                            Este es alegre y loco, con una sonrisa super contagiosa el cual es 
                            el coraz칩n y el alma de lo que hacemos. Con sus ojos llenos de chispa,
                            Sonrisol irradia carisma y diversi칩n en cada dise침o que creamos.
                        </p>
                        <p class="p-2"><t class="bg-blue-300">Grumpy:</t>
                             la contraparte gru침ona de Sonrisol.
                        </p>
                        <p class="p-2">
                            Esta luna azul con guantes, zapatos de payaso y su caracter칤stico habano
                            puede parecer algo antip치tica, pero tiene un encanto 칰nico. Descubr칤 el
                            brillo de la luna junto a Grumpy y sus dise침os 游뛃
                        </p>
                    </div>
                    <h3 class="text-3xl font-bold text-left px-2 py-4">Nuestra Historia</h3>
                    <p class="text-xl font-semibold p-2">
                        BORDART naci칩 en 2023 de la mano de Dylan Dessous L'eglise, un apasionado del arte y la creaci칩n,
                         con la visi칩n de ofrecer productos personalizados y de alta calidad a clientes de todo el pa칤s. 
                         Desde los primeros bordados hasta las m치quinas m치s avanzadas que usamos hoy, ha sido un camino de aprendizaje 
                         y evoluci칩n constante, superando adversidades y buscando innovar d칤a a d칤a.
                    </p>
                    <p class="text-xl font-semibold p-2">
                        Lo que comenz칩 como un proyecto personal se convirti칩 en una marca donde el arte y la personalizaci칩n van de la mano.
                         A pesar de los cambios y el crecimiento, la dedicaci칩n a la excelencia y la creatividad sigue siendo la misma.
                    </p>
                    <p class="text-xl font-semibold p-2">
                        Hoy, BORDART es m치s que un emprendimiento; es un equipo comprometido con transformar prendas y accesorios en piezas 칰nicas.
                         Victoria, nuestra dise침adora de contenido y community manager, da vida a nuestra presencia digital y nos ayuda a conectar
                          con quienes nos eligen. Tom치s, dise침ador de bordados, convierte ideas en puntadas con precisi칩n y creatividad.
                    </p>
                    <p class="text-xl font-semibold p-2">
                        Tambi칠n agradecemos a los emprendimientos que confiaron en nosotros y nos impulsaron a crecer, y a Santiago, 
                        el programador detr치s de nuestra p치gina web, quien convirti칩 nuestra visi칩n en un espacio digital donde podemos compartir 
                        nuestro trabajo con el mundo.
                    </p>
                    <p class="text-xl font-semibold p-2">
                        Cada puntada, cada dise침o y cada prenda reflejan nuestra pasi칩n por el bordado. Gracias por ser parte de este camino.
                    </p>
                </div>
                <!-- Imagen -->
                <div class="flex flex-col gap-8">
                    <img class="py-4 hidden md:block" src="/assets/dibujo-sonrisol.png" alt="">
                    <img class="py-4 hidden md:block" src="/assets/grumpy.png" alt="">
                </div>
            </div>
        </section>
        
        <Divider />
        <Footer />
        
    </Layout>
    
</div>

