---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Navigation from 'src/components/Navigation.astro';
import Drop from '../components/Drop.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navigation />
    <Hero />

<div class="grid grid-cols-3 grid-rows-4 gap-5">
    <div class="row-span-2">
        <div class="box bg-gray-100 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform hover:scale-110 transition duration-300 ease-in-out cursor-pointer hover:bg-gray-200">
            <a href="/products/">
                <img src="/assets/buzo.webp" alt="" class="w-full h-48 object-contain overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="font-bold text-lg">Buzos</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row-span-2 col-start-2 row-start-2">
        <div class="box bg-gray-100 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform hover:scale-110 transition duration-300 ease-in-out cursor-pointer hover:bg-gray-200">
            <a href="/products/">
                <img src="/assets/buzo.webp" alt="" class="w-full h-48 object-contain overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="font-bold text-lg">Buzos</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row-span-2 col-start-1 row-start-3">
        <div class="box bg-gray-100 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform hover:scale-110 transition duration-300 ease-in-out cursor-pointer hover:bg-gray-200">
            <a href="/products/">
                <img src="/assets/buzo.webp" alt="" class="w-full h-48 object-contain overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="font-bold text-lg">Buzos</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row-span-2 col-start-3 row-start-3">
        <div class="box bg-gray-100 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform hover:scale-110 transition duration-300 ease-in-out cursor-pointer hover:bg-gray-200">
            <a href="/products/">
                <img src="/assets/buzo.webp" alt="" class="w-full h-48 object-contain overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="font-bold text-lg">Buzos</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row-span-2 col-start-3 row-start-1">
        <div class="box bg-gray-100 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transform hover:scale-110 transition duration-300 ease-in-out cursor-pointer hover:bg-gray-200">
            <a href="/products/">
                <img src="/assets/buzo.webp" alt="" class="w-full h-48 object-contain overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="font-bold text-lg">Buzos</h3>
                </div>
            </a>
        </div>
    </div>
</div>
    
    <Drop />
    <Footer />
</Layout>
   