---

---

<section class="bg-yellow-100">
    <div class="flex aling-center justify-center">
        <h2 class="text-4xl font-bold p-4">Como comprar?</h2>
    </div>
    <div class="max-w-6xl m-auto grid grid-cols-1 p-2 md:flex md:aling-center md:justify-center">
        <!-- Paso 1 -->
        <div class="p-2 pl-4"> 
            <h3 class="flex justify-center font-bold text-4xl">1</h3>
            <ul class="list-decimal p-2 px-2">
                <li>
                    <p class="py-2">Buscar el producto que me gustaria adquirir</p>
                </li>
                <li>
                    <p class="py-2">Seleccionar el/los bordados que quiero que tenga la prenda</p>
                </li>
                <li>
                    <p class="py-2">Definir los tamanos y los colores que mas me gustan</p>
                </li>
            </ul>
        </div>
        <!-- Paso 2 -->
        <div class="p-2 pl-4">
            <h3 class="flex justify-center font-bold text-4xl">2</h3>
            <ul class="list-disc p-2">
                <li class="">
                    <p class="py-2">
                        Juntxs armamos los disenos asi te llevas el bordado exactamente como
                        lo imaginabas :)
                    </p>
                </li>
                <li>
                    <p class="py-2">Podes hacer tu pedido por instagram o al whatsapp (los links
                        estan en el perfil)
                    </p>
                </li>
            </ul>
            
            
        </div>
        <!-- Paso 3 -->
        <div class="p-2 pl-4">
            <h3 class="flex justify-center font-bold text-4xl">3</h3>
            <ul class="list-disc p-2">
                <li>
                    <p class="py-2">Para abonar es por transferencia o en efecto</p>
                </li>
                <li>
                    <p class="py-2">Se debe enviar comprobante o bien traer el efectivo para realizar
                        el bordado
                    </p>
                </li>
                <li>
                    <p class="py-2">
                        Y listo!! Se te brindara el dia para poder retirar tu producto
                    </p>
                </li>
            </ul>
            
           
            
            
        </div>
    </div>
</section>