---

---

<script>
    declare var confetti: (options: { particleCount: number, spread: number, origen: { x: number, y: number } }) => void;

const drop = new Date('2025-03-01 00:00:00');

function upDateCountdown(){
    const now = new Date();
    const timeLeft = drop.getTime() - now.getTime();

    const days = Math.floor(timeLeft / 1000 / 60 / 60 / 24);
    const hours = Math.floor((timeLeft / 1000 / 60 / 60) % 24);
    const minutes = Math.floor((timeLeft / 1000 / 60) % 60);
    const seconds = Math.floor((timeLeft / 1000) % 60);

    const timeOver = (days < 0) && (minutes <0) && (hours < 0) && (seconds < 0);
    if(timeOver){
        console.log('SE TERMINO EL CONTADOR');
        clearInterval(countdownInterval);

        
        const comingSoon = document.querySelector('.coming-soon');
        const openDrop = document.querySelector('.container-end');
        if (comingSoon instanceof HTMLElement && openDrop instanceof HTMLElement) {
        comingSoon.style.display = 'none';
        openDrop.style.display = 'flex';
        }
        
        setInterval(() => {
            confetti({
                particleCount: 200,
                spread: 360,
                origen: {
                    x: Math.random(),
                    y: Math.random(),
                }

            });
       }, 1000);         
    }

    document.getElementById('days')!.textContent = days.toString().padStart(2, '0');
    document.getElementById('hours')!.textContent = hours.toString().padStart(2, '0');
    document.getElementById('minutes')!.textContent = minutes.toString().padStart(2, '0');
    document.getElementById('seconds')!.textContent = seconds.toString().padStart(2, '0');
}

const countdownInterval = setInterval(upDateCountdown, 1000);
upDateCountdown();
</script>

<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>

<section class="bg-orange-100 py-12">
    <div class="flex items-center justify-center flex-col ">
        <h2 class="font-bold text-lg md:text-2xl">Proximamente nuestro Drop de Ropa!</h2>
        <div class="countdown flex items-center justify-between gap-4 py-4">
            <div class="bg-orange-500 p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span id="days" class="block md:text-lg font-bold tracking-tighter"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Dias</span>
            </div>
            <div class="bg-orange-500 p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span id="hours" class="block md:text-lg font-bold tracking-tighter"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Horas</span>
            </div>
            <div class="bg-orange-500 p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span class="block md:text-lg font-bold tracking-tighter" id="minutes"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Minutos</span>
            </div>
            <div class="bg-orange-500 p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span class="block md:text-lg font-bold tracking-tighter" id="seconds"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Segundos</span>
            </div>
        </div>
    </div>
</section>