---

---
<script>
const drop = new Date('2025-05-10 00:00:00');

function upDateCountdown(){
    const now = new Date();
    const timeLeft = drop.getTime() - now.getTime();

    const days = Math.floor(timeLeft / 1000 / 60 / 60 / 24);
    const hours = Math.floor((timeLeft / 1000 / 60 / 60) % 24);
    const minutes = Math.floor((timeLeft / 1000 / 60) % 60);
    const seconds = Math.floor((timeLeft / 1000) % 60);

    const timeOver = (days < 0) && (minutes <0) && (hours < 0) && (seconds < 0);
    if(timeOver){
        console.log('SE TERMINO EL CONTADOR');
        clearInterval(countdownInterval);

        
        const comingSoon = document.querySelector('.coming-soon');
        const openDrop = document.querySelector('.container-end');
        if (comingSoon instanceof HTMLElement && openDrop instanceof HTMLElement) {
        comingSoon.style.display = 'none';
        openDrop.style.display = 'flex';
        }
           
    }

    document.getElementById('days')!.textContent = days.toString().padStart(2, '0');
    document.getElementById('hours')!.textContent = hours.toString().padStart(2, '0');
    document.getElementById('minutes')!.textContent = minutes.toString().padStart(2, '0');
    document.getElementById('seconds')!.textContent = seconds.toString().padStart(2, '0');
}

const countdownInterval = setInterval(upDateCountdown, 1000);
upDateCountdown();
</script>


<section class="bg-yellow-400 py-12">
    <div class="flex items-center justify-center flex-col ">
        <h2 class="font-bold text-sm md:text-3xl">¡PRÓXIMAMENTE DROP #01!</h2>
        <div class="countdown flex items-center justify-between gap-4 py-4">
            <div class="bg-white p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span id="days" class="block md:text-lg font-bold tracking-tighter"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Días</span>
            </div>
            <div class="bg-white p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span id="hours" class="block md:text-lg font-bold tracking-tighter"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Horas</span>
            </div>
            <div class="bg-white p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span class="block md:text-lg font-bold tracking-tighter" id="minutes"> 00 </span>
                <span class="label block text-xs md:text-lg font-bold tracking-tighter">Minutos</span>
            </div>
            <div class="bg-white p-3 md:p-5 text-center rounded-3xl shadow-2xl transform hover:scale-110 transition duration-300 ease-in-out w-20 h-20 md:w-28 md:h-28">
                <span class="block md:text-lg font-bold tracking-tighter" id="seconds"> 00 </span>
                <span class="text-wrap label block text-xs md:text-lg font-bold tracking-tighter">Segundos</span>
            </div>
        </div>
    </div>
</section>