---

---

<section id="footer" class="footer bg-orange-100">
    <footer class="flex items-center justify-center flex-col py-6 px-4 max-w-6xl m-auto">
        <h3 class="font-bold text-3xl text-center">Tu consulta siempre es bienvenida</h3>
        <div class="container flex justify-between py-4 md:py-10">

            <div class="flex flex-col items-center">
                <a href="https://www.instagram.com/bordart_bb/">
                    <img class="h-16 w-16" src="/src/assets/instagram.svg" alt="">
                </a>
                <p class="font-bold md:py-4">
                    Bordart_BB
                </p>
            </div>

            <div class="flex flex-col items-center">
                <a href="">
                    <img class="h-16 w-16" src="/src/assets/whatsapp.svg" alt="">
                </a>
                <p class="font-bold md:py-4">
                    +549 291 5050471
                </p>
            </div>
        </div>
    </footer>
</section>