---

---

<section class="bg-orange-100">
    <div class="flex flex-col items-center justify-center p-4">
        <img class="logo md:max-w-xs" src="/src/assets/bordart-logo.svg" alt="">
        <p class="font-bold md:py-4 py-3 md:text-xl">"Donde los hilos cobran vida"</p>
    </div>
</section>

<style>
    .logo{
        width: 60%;
    }
</style>