---
import '../styles/tailwind.css';
---

<script>
    const text1 = "BORDART";
    const text = "¡Donde los hilos cobran vida!";
    var indice = 0;
    var termino = false;

    function efectTyping1(){
        if(indice <= text1.length-1){
            const textElement = document.getElementById('text1');
            if (textElement) {
                textElement.innerHTML += text1.charAt(indice);
            }
            indice++;
            setTimeout(efectTyping1, 100);
        }else{
            indice = 0;
            efectTyping();
        }   
    }

    function efectTyping(){

        if(indice <= text.length-1){
            const textElement = document.getElementById('text');
            if (textElement) {
                textElement.innerHTML += text.charAt(indice);
            }
            indice++;
            setTimeout(efectTyping, 100);
        }
    }
    efectTyping1();
</script>

<section class="md:h-screen h-auto w-full flex flex-col items-center justify-center md:justify-between min-h-64">
    <!-- Texto 1 -->
    <div class=" flex justify-center text-center md:pt-32 min-h-12 pt-12">
        <p id="text1" class="font-MiFuente font-bold text-4xl md:text-8xl"></p>
    </div>
    <!-- Texto 2 -->
    <div class="flex justify-center text-center min-h-12 md:pt-32 p-8">
        <p id="text" class="font-MiFuente font-bold text-lg md:text-5xl"></p>
    </div>
    <!-- Logo -->
     <div class="md:mt-auto md:block">
        <img class="size-[448px] object-cover" 
        src="/assets/bordart-logo-2.png" alt="">
     </div>
    
</section> 


<style>
    p{
        font-family: 'MiFuente', sans-serif;
    }
</style>