---
---

<nav class="bg-yellow-400 text-black fixed top-0 left-0 w-full z-50 shadow-md transition-all duration-300">
    <div class="container mx-auto flex items-center justify-between px-4 py-2">
      <!-- Logo -->
        <a href="/" class="text-2xl font-bold flex flex-row items-center
         gap-2 md:gap-4 transform hover:scale-110 tranisiton duration-300
         ease-in-out">
            <img class="h-10 w-10" src="/assets/logo-bordart.png" alt="">
            BordArt
        </a>
  
      <!-- Botón para pantallas pequeñas -->
      <button 
        class="md:hidden flex flex-col gap-1 focus:outline-none
        transform hover:scale-110 transition duration-300 ease-in-out"
        id="menu-toggle"
        aria-label="Abrir menú"
      >
        <img class="w-8 h-8" src="/assets/menu-black.svg" alt="menu">
        
      </button>
  
      <!-- Links de navegación -->
      <ul 
        class="hidden md:flex gap-6 items-center"
        id="nav-links"
      >
        <li class="transform hover:scale-100 transition duration-300 ease-in-out">
            <a href="/products/" class="hover:text-gray-400">Productos</a>
        </li>
        <li class="transform hover:scale-100 transition duration-300 ease-in-out">
            <a href="/catalog/" class="hover:text-gray-400">Catalogo</a>
        </li>
        <li class="transform hover:scale-100 transition duration-300 ease-in-out">
            <a href="/#questions" class="hover:text-gray-400">Preguntas</a>
        </li>
        <li class="transform hover:scale-100 transition duration-300 ease-in-out">
            <a href="/about/" class="hover:text-gray-400">Nosotros</a>
        </li>
      </ul>
    </div>
  
    <!-- Menú desplegable en pantallas pequeñas -->
     <div transition-style="in:wipe:down">
        <ul 
            class="hidden flex-col bg-yellow-400 px-4 py-2 md:hidden"
            id="mobile-menu">
            <li class="transform hover:scale-100 transition duration-300 ease-in-out">
                <a href="/products/" class="hover:text-gray-400">Productos</a>
            </li>
            <li class="transform hover:scale-100 transition duration-300 ease-in-out">
                <a href="/catalog/" class="hover:text-gray-400">Catalogo</a>
            </li>
            <li class="transform hover:scale-100 transition duration-300 ease-in-out">
                <a href="/#questions" class="hover:text-gray-400">Preguntas</a>
            </li>
            <li class="transform hover:scale-100 transition duration-300 ease-in-out">
                <a href="/about/" class="hover:text-gray-400">Nosotros</a>
            </li>
        </ul>
     </div>
  </nav>
  <!-- Espacio para que el contenido no quede oculto detras del nav -->
  <div class="pt-16"></div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toggleButton = document.getElementById("menu-toggle");
      const mobileMenu = document.getElementById("mobile-menu");
  
        if (toggleButton) {
          toggleButton.addEventListener("click", () => {
            mobileMenu?.classList.toggle("hidden");
        });
      }
    });
  </script>

  <style>
   @keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

  </style>