---
---

<script client:load>
    function openMenu() {
        const menu = document.getElementById('menu');

        if (menu instanceof HTMLElement) {
            menu.classList.toggle('hidden');
        }
    }
</script>

<nav class="bg-yellow-400 md:py-4 relative">
    <div class="container mx-auto flex md:px-8 px-2 xl:px-0 ">
        <div class="flex flex-grow items-center justify-between">
            <a class="flex justify-between items-center" href="/">
                <!-- Imagen más grande -->
                <img class="md:p-0 p-1 h-16 w-auto" src="/src/assets/logo-bordart.png" alt="Bordart Logo">
                <p class="text-black font-bold px-4">Bordart</p>
            </a>
        </div>

        <!-- Menú móvil -->
        <div class="flex items-center lg:hidden ">
            <img class="h-8 w-8" src="/src/assets/menu.svg" onclick="openMenu()" alt="Menu">
        </div>

        <!-- Menú desplegable -->
        <div id="menu" class="lg:flex hidden flex-grow absolute lg:relative lg:top-0 top-20 left-0 bg-yellow-400 w-full lg:w-auto items-center py-14 lg:py-0 px-8 sm:px-24 lg:px-0 lg:justify-end">
            <div class="flex flex-col lg:flex-row lg:text-right mb-8 lg:mb-0 font-bold">
                <a href="#products" class="text-black lg:mr-7 mb-8 lg:mb-0">Productos</a>
                <a href="#" class="text-black lg:mr-7 mb-8 lg:mb-0">Catálogo</a>
                <a href="#questions" class="text-black lg:mr-7 mb-8 lg:mb-0">Preguntas</a>
                <a href="#" class="text-black lg:mr-7 mb-8 lg:mb-0">Nosotros</a>
            </div>
        </div>
    </div>
</nav>