---
---

<section id="questions" class="bg-yellow-100 p-4">
    <div class="flex aling-center justify-center">
        <h2 class="font-bold text-3xl ">Preguntas frecuentes</h2>
    </div>
    <div class="py-8 max-w-6xl m-auto">
        <ul class="">
            <li class="font-bold text-orange-700 md:flex md:items-center py-2">
                ¿Hacen diseños personalizados?
                <p class="text-black md:inline md:ml-2">Por supuesto! Vos nos mandas tu idea y juntos lo diseñamos</p>
            </li>
            <li class="font-bold text-orange-700 md:flex md:items-center py-2">
                ¿Puedo bordar una prenda mía?
                <p class="text-black md:inline md:ml-2">Claro que si :)</p>
            </li>
            <li class="font-bold text-orange-700 md:flex md:items-center py-2">
                ¿Se puede modificar el tamaño de los diseños?
                <p class="text-black md:inline md:ml-2 ">Solo un 10%, de lo contrario podría afectar a la calidad del bordado </p>
            </li>
            <li class="font-bold text-orange-700 md:flex md:items-center py-2">
                ¿Cuántos bordados le puedo poner a una misma prenda?
                <p class="text-black md:inline md:ml-2">Todos los que se te ocurran</p>
            </li>
            <li class="font-bold text-orange-700 md:flex md:items-center py-2">
                ¿Cuál es el tamaño máximo de bordado?
                <p class="text-black md:inline md:ml-2">El área máxima para 1 bordado es de 20 cm x 30 cm</p>
            </li>
        </ul>
    </div>

    <div class="flex aling-center justify-center">
        <h3 class="font-bold text-3xl ">Tips de cuidado</h3>
    </div>
    <div class="py-4 max-w-6xl m-auto">
        <p class="font-bold text-l py-2">
            Para que tus prendas siempre tengan ese color intenso y ese bordado siga dandole brillo a tu ropa te recomiendo
        </p>
        <ul class="list-disc pl-4">
            <li class="">Lavar las prendas oscuras del reves y con agua fria o templada preferentemente</li>
            <li class="">No dejar secar los oscuros al rayo del sol</li>
            <li class="">No planchar directamente sobre el borado</li>
            <li class="">No colocar los pines en el lavarropa</li>
        </ul>
        
    </div>
</section>
